################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShapeCalculator/.vs/ShapeCalculator/v16/Server/sqlite3/db.lock
